body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    --s: 200px;
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
  }

  .navbar {
    background-color: #000;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    color: rgb(46, 102, 255);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#dropCV {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#dropCV input[type="file"] {
    display: none;
}

label {
    --label_radius: 0.75em;
    --label_color: #e8e8e8;
    --label_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--label_radius);
    background: var(--label_outline_color);
  }
  
  .label_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--label_outline_color);
    border-radius: var(--label_radius);
    padding: 0.75em 1.5em;
    background: var(--label_color);
    color: var(--label_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  label:hover .label_top {
    transform: translateY(-0.33em);
  }
  
  label:active .label_top {
    transform: translateY(0);
  }

  footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
  